Makefile
Makefile.Debug
Makefile.Release
release/
.tab
NewMicro.pro.user.82f1a9d
*.tab
MultiSpectral_ProgramCode/MaskAnalysis.cpp
MultiSpectral_ProgramCode/MaskAnalysis.h
MultiSpectral_ProgramCode/Multi.ico
MultiSpectral_ProgramCode/NewMicro.pro
MultiSpectral_ProgramCode/NewMicro_resource.rc
MultiSpectral_ProgramCode/dataanalysis.cpp
MultiSpectral_ProgramCode/dataanalysis.h
MultiSpectral_ProgramCode/dialog.cpp
MultiSpectral_ProgramCode/dialog.h
MultiSpectral_ProgramCode/dialog.ui
MultiSpectral_ProgramCode/main.cpp
MultiSpectral_ProgramCode/mainwindow.cpp
MultiSpectral_ProgramCode/mainwindow.h
MultiSpectral_ProgramCode/mainwindow.ui
MultiSpectral_ProgramCode/pic.qrc
MultiSpectral_ProgramCode/prediction.cpp
MultiSpectral_ProgramCode/prediction.h
MultiSpectral_ProgramCode/stitch.cpp
MultiSpectral_ProgramCode/stitch.h
MultiSpectral_ProgramCode/svmdata.cpp
MultiSpectral_ProgramCode/svmdata.h
MultiSpectral_ProgramCode/thread_stitch.cpp
MultiSpectral_ProgramCode/thread_stitch.h
MultiSpectral_ProgramCode/time.cpp
MultiSpectral_ProgramCode/time.h
MultiSpectral_ProgramCode/ui_dialog.h
MultiSpectral_ProgramCode/ui_mainwindow.h
MultiSpectral_release4.0.0.rar
